* {
    box-sizing: border-box;
}

header {
    height: 300px;
    background-color: chocolate;
    border-color: black;
    border-width: 5px;
    border-style: groove;
}

nav {
    width: 200px;
    background-color:aqua;
    border-color: black;
    border-width: 5px;
    border-style: groove;
    position: fixed;
    padding: 30px;
    text-align: left;
    font-family: inherit;
    font-style: oblique;
    font-size: 15px;
    color: beige;
}

main {
    height: 1000px;
    background-color:aquamarine;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    color: black;
    font-size: 23px;
    font-family: sans-serif;
    padding: 2% 15%;

}


figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 10px;
  padding: 10px
}

#left {
    float: left;
}

#right {
    float: right;
}

aside {
    width: 200px;
    height: 500px;
    background-color:dodgerblue;
    border-color: black;
    border-width: 4px;
    border-style: groove;
    position: absolute;
    right:  25px;
    top: 400px;
}

aside div {
    height: 28%;
    border: black 2px;
    background-color: chartreuse;
    width: 80%;
    padding: 50px;
    margin: 10%;
    border: black, 2px;
}

footer {height: 100px;
    width: 100%;
    background-color:coral;
    border-color: black;
    border-width: 5px;
    border-style: groove;
    color: aqua;
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    position: fixed;
    bottom: 0;
}
