h1 {color: darkolivegreen;
    font-size: 45px;
    background-color:burlywood;
    text-decoration: underline;
    text-decoration-color: blueviolet}

h2 {color:chartreuse;
    font-size: 35px;
    background-color: bisque;
    text-decoration: underline;
    text-decoration-color: chartreuse}

h3 {color:deeppink;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color:darkgreen}

body {color:darkmagenta;
    font-size: 20px;}

ul {color:darkorchid;
    font-size: 20px;
    list-style: decimal}

ol {color:darkorchid;
    font-size: 20px;
    list-style:circle}
