@font-face {
    font-family: 'CocaColaType';
    src: url('Milkshake.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'subHeader';
    src: url('gnuolane-rg.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'body';
    src: url('adventpro-Bd1');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'body';
    src: url('adventpro-Lt1');
    font-weight: normal;
    font-style: normal;
}

.Body {
    font-family: 'body';
    font-size: 1em;
    color: #8b184c;
}

.bodyBody {
    font-family: 'body';
    font-size: 1em;
    color: #db388e;
}

.mainHeader {
    font-family: 'CocaColaType';
    font-size: 3em;
    color: #8b184c;
}

.subHeader {
    font-family: 'subHeader';
    font-size: 2em;
    color: #425818;
}

div {
    height:  100px;
    width: 100px;
    border: 2px solid #232123;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}

#deepPurple {
    background: #0c010b;
}

#darkPink {
    background: #8b184c;
}

#brightPink {
    background: #db388e;
}


#brightGreen {
   background: #77a815;
}

#oliveGreen {
    background: #425818;
}

.darkGrey {
    background: #2D2E30;
    display: inline-block;
}

#Icon {
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

#texture {
   height:  100px;
    width: 100px;
    border: 2px solid #232123;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    background-color: #db388e;
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
    0px 36px, 4px 2px, 29px 6px, 33px 30px;
    background-image:
    linear-gradient(335deg, #C90032 23px, transparent 23px),
    linear-gradient(155deg, #C90032 23px, transparent 23px),
    linear-gradient(335deg, #C90032 23px, transparent 23px),
    linear-gradient(155deg, #C90032 23px, transparent 23px),

    linear-gradient(335deg, #C90032 10px, transparent 10px),
    linear-gradient(155deg, #C90032 10px, transparent 10px),
    linear-gradient(335deg, #C90032 10px, transparent 10px),
    linear-gradient(155deg, #C90032 10px, transparent 10px);
}

img {
    height: 240px;
    width: 160px;
    position: relative;
}

img::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(211, 114, 113, .8), rgba(211, 114, 113, .0));

}


#appleGreen {
    background: #6FDA44;
}

#charcoal {
    background: #494949;
}

div {

}

#charcoal {

}

#appleGreen {
    background: #6FDA44
}
