* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    list-style: none;
    text-decoration: none;
}

body {
    overflow: hidden;
}

header {
    /*width: 1024px;*/
    height: 54px;
    background: #EB5757;
}

main {
    /*width: 1024px;*/
    height: 573px;
    background: #F2c94c;
}

nav {
    width: 180px;
    height: 374px;
    background: #FFFEF6;
    position: absolute;
    right: -999px;
    border-radius: 10px;
    border: 3px grey solid;
}

nav > ul > li  {
    padding: 10px;
    margin: 10px;
    border: 1px solid hsl(60, 100%, 80%);
}

#hamburger {
    height: 50px;
    width: 50px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    right: -95%;
}

#hamburger::before, #hamburger::after {
    content: "";
    display: block;
    width: 30px;
    border-color:#333;
    border-style: solid;
    border-width: 1px 0px;
    position: absolute;
    top: 11px;
    left: 9px;
    height: 11px;
}

#hamburger::after {

    border-top-width: 0px;
    bottom: 11px;
    top: auto;
}


footer {
    /*width: 1024px;*/
    height: 397px;
    background: #F2994A;
}




