.container{

}

.row1 div{
    background: pink;
    height: 100px;
    border: 3px solid green;
}

.row2 div{
    background: orange;
    height: 100px;
    border: 3px solid green;
}

.row3 div{
    background: blue;
    height: 100px;
    border: 3px solid green;
}

.row4 div{
    background: purple;
    height: 100px;
    border: 3px solid green;
}

.row5 div{
    background: red;
    height: 100px;
    border: 3px solid green;
}
